@model HomeIndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="">
        <dl>
            <dt>
                EnvironmentInfo:
            </dt>
            <dd>
                @Model.EnvironmentInfo
            </dd>
            <dt>
                MyKey:
            </dt>
            <dd>
                @Model.MyKey
            </dd>
            <dt>
                EmailUsername:
            </dt>
            <dd>
                @Model.EmailUsername
            </dd>
        </dl> 
    </div>
</div>
